{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace t=TGM\TgmFormhandlerTmplbuilder\ViewHelpers}

<t:wrap partial="FieldWrap" arguments="{_all}">
    <select id="{fieldname}" class="form-control" name="###formValuesPrefix###[{fieldname}]" {f:if(condition: required, then: 'required="required"')} {f:if(condition: readonly, then: 'readonly="readonly"')}>
        <option value="">{f:if(condition: prepend, then: prepend, else: '###LLL:bittewaehlen###')}</option>
        <f:for each="{options}" as="option">
            <option value="{option}" ###selected_{fieldname}_{option}###>###LLL:{option}###</option>
        </f:for>
    </select>
</t:wrap>